.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 25s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(74, 11, 110);
  height: 120px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
